<p>
	Are you sure you want to {{action}} the {{thing}}, {{name}}?
</p>
{{#note}}
<p>{{note}}</p>
{{/note}}

<form method="post" accept-charset="utf-8">
	<input type="submit" name="yes" value="Yes" />
	<input type="submit" name="no" value="No" />
</form>
