<pre>
 ___________________________________
/ Welcome to the Kohana admin layer \
\ framework!!                       /
 -----------------------------------
        \   ^__^
         \  (oo)\_______
            (__)\       )\/\
                ||----w |
                ||     ||
</pre>
